@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;400;700&display=swap');*/

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', 'sans-serif';
}

#container {
    max-width: 1024px;

}